# Core dependencies
rich>=13.0.0
requests>=2.25.0

# Testing
pytest>=7.0.0
pytest-cov>=4.0.0

# Web exploitation
beautifulsoup4>=4.9.0
lxml>=4.6.0
selenium>=4.0.0

# OSINT
python-whois>=0.7.0
phonenumbers>=8.12.0

# Reporting
PyPDF2>=3.0.0
reportlab>=3.6.0

# Image/Metadata processing
pillow>=9.0.0

